body {
    font-family: 'Rubik', sans-serif;   
    margin: 0px;
    overflow-x: hidden; 
    position: relative; 
}

html {
    max-width: 100vw;
    overflow-x: hidden; 
}

header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    height: 70px;
    padding-left: 5vw;
    padding-right: 5vw;
}

header nav {
    display: flex;
    align-items: center;
}

header a {
    margin-left:20px;
    text-decoration: none;
    color: rgba(0, 0, 0, .5);
}

header a:hover {
    text-decoration: underline;
    color: rgba(0, 0, 0, 1);
}

section {
    padding-left: 5vw;
    padding-right: 5vw;
}

section.hero {
    max-width: 100%;
    height: auto;
}

section.hero h1 {
    font-size: 18vw;
    line-height: 16vw;
    margin-bottom: 5vh;
    margin-top: 15vh;
    width:60vw;
}

section.hero img#hero {
    display: block;
    position: absolute;
    right:-20vw;
    top:50px;
    width: 100vw;
    max-width: 700px;
}

.cta {
    background-color: #02B4B4;
    color: white;
    text-decoration: none;
    padding: 10px 15px 10px 15px;
    display: inline-block;
    border-radius: 20px;
    text-transform: uppercase;
    transition: all;
    transition-duration: 500ms;
}

.cta:hover {
    background-color: black;
    transform: scale(0.9);
}

.cta img {
    height:13px;
    margin-left: 10px;
}

h1 {
    font-family: 'Poppins', sans-serif;
}

section.superb {

}

.superb img {
    width:100vw;
    margin-left: -5vw;
}

div.card {
    background-color: rgba(196 , 196, 196, .2);
    padding:5px 10px 5px 10px;
    margin-bottom: 10px;;
    border-radius: 8px;
}

div.card:first-of-type {
    margin-top: 20px;
}

div.card h2 {
    margin: 10px 0 0 0;
    padding: 0px;
    font-size: 16pt;
}

div.card p {
     margin-top: 5px;
     opacity: .7;
     font-size: 12pt;
}